<%- include('partials/header') -%>

<h1 class="text-4xl">Your Profile</h1>

<% if (locals.isAuthenticated) { %>
    <% var user = JSON.parse(userProfile); %>

    <div class="text-2xl mb-4">Welcome <%= user.name %></div>

    <% if (user.profilePictureUrl) { %>
        <img class="block py-3" src="<%= user.profilePictureUrl %>" width="300">
    <% } %>

    <p>You are logged in.</p>

    <p class="py-3">
        This is the content of <code class="bg-gray-200">userProfile</code>.<br>
    </p>

    <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre>
<% } else { %>
    <p>You are not logged in. <a href="/login" class="underline">Login</a>.</p>
<% } %>

<%- include('partials/footer') -%>